<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catto - free simple cat REST api</title>
    <meta name="description" content="Simple cat rest api for free, full of cute cats with high resolution">
    <meta name="keywords" content="api, cats, cat api, free api, free cat api, rest api, free rest api, cat rest api">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header class="p-5 text-center text-2xl font-bold font-mono tracking-widest border-2 border-black">
        <h1>Catto - Free cat images REST API</h1>
    </header>