<%- include('header'); -%>
    <div class="p-5 flex flex-col md:grid md:grid-cols-3 gap-2">
        <%- include('homepage'); -%>
        <%- include('example'); -%>
    </div>
<%- include('footer'); -%>